<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container-calculadora">
      <h1 class="titulo">{{ titulo }}</h1>
      <form>
        <div class="operandoA">
          <label>Operador A: </label>
          <input
            type="number"
            placeholder="Escribe un numero"
            [(ngModel)]="operandoA"
            name="operandoA"
            class="InputOperandoA"
          />
        </div>
        <div class="operandoB">
          <label>Operador B: </label>
          <input
            type="number"
            placeholder="Escribe un numero"
            [(ngModel)]="operandoB"
            name="operandoB"
            class="InputOperandoB"
          />
        </div>
        <div class="container-botones">
          <button class="btn-sumar" type="submit" (click)="sumar()">Sumar</button>
          <button class="btn-restar" type="submit" (click)="restar()">Restar</button>
          <button class="btn-multiplicar" type="submit" (click)="multiplicar()">Multiplcar</button>
          <button class="btn-dividir" type="submit" (click)="dividir()">Dividir</button>
        </div>
        <div class="resultado">
          <label>Resultado: {{ resultado }}</label>
        </div>
      </form>
    </section>
  </body>
</html>
